@model IEnumerable<serviceReport.Models.ISO.Dominio>

@{
    ViewBag.Title = "Dominios";
}
<div class="all-title-box">
    <div class="container text-center">
        <h1>Dominios<span class="m_1">A continuación se detallan los dominios de la norma.</span></h1>
    </div>
</div>

<p>
    <div class="sign text-center pricing-table-sign-up">
        <a href="Dominios/Create" class="btn btn-light btn-radius btn-brd grd1 effect-1">Agregar</a>
    </div>
</p>
<div id="pricing-box" class="section wb">    


    @foreach (var item in Model)
    {
        if (@ViewBag.id == null)
        {
            ViewBag.id = 0;
        }

        if (ViewBag.id == 0)
        {
            @:<div class='container'>
            }

            <div class='col-md-4 col-sm-6 col-xs-12'>
                <div class="grid1">
                    <span>@Html.DisplayFor(modelItem => item.Identificador).@Html.DisplayFor(modelItem => item.Consecutivo)</span>
                    <div class="price-tit text-center">
                        <h2>@Html.DisplayFor(modelItem => item.NombreDominio)</h2>
                    </div>
                    <div class="para">
                        <!--<p>1 Anexo</p>
                        <p>10 Gripos</p>
                        <p>50 Preguntas</p>-->
                    </div>
                    <div class="sign text-center pricing-table-sign-up">
                        <a href="~/anexos/index?idDominio=@item.Id" class="btn btn-light btn-radius btn-brd grd1 effect-1">Administrar</a>
                    </div>
                </div>
            </div>

            if (ViewBag.id == 2)
            {
                @:<div class='clear'> </div>
                @:</div>
            ViewBag.id = 0;
        }
        else
        {
            ViewBag.id = ViewBag.id + 1;
        }



    }

</div>

