@model serviceReport.Models.ISO.Roll

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>Roll</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RollName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RollName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver", "Index")
</p>
